asgiref==3.7.2
certifi==2023.11.17
crispy-bootstrap5==2023.10
dj-database-url==2.1.0
Django==4.2.7
django-crispy-forms==2.1
django-email==0.1.10
django-environ==0.11.2
django-filter==23.5
djangorestframework==3.14.0
Markdown==3.5.2
Pillow==10.1.0
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
sslcommerz-python
