asgiref
aamarpay
ai-api-client-sdk
ai-core-sdk
async-timeout
attrs
autobahn
Automat
certifi
cffi
channels
Cython
daphne
pytz
pymemcache
channels-redis
constantly
cryptography
dj-database-url
Django
django-allauth
django-autoslug
django-autoslug-field
django-celery-beat
django-cleanup
django-cors-headers
django-crispy-forms
django-email
django-environ
django-extensions
django-filter
django-htmx
django-timezone-field
djangorestframework
djangorestframework-simplejwt
environ
hyperlink
idna
incremental
msgpack
pillow
psycopg2
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
redis
requests
service-identity
sqlparse
tomli
Twisted
txaio
typing_extensions
tzdata
zope.interface
usaddress
django-sslserver
